@import "./mixins";
@import "./keyframes";

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2456;
  top: 0;
  background-color: $primary-color;

  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-120deg, #e50914, #221f1f, #f5f5f1);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
  }
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  overflow: hidden;
  padding: 16px 48px;

  #app-brand {
    font-family: "Francois One", sans-serif;
  }

  a {
    color: $fifth-color;
    font-size: 2rem;
    font-weight: bold;
    i {
      margin-left: 10px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  img {
    height: 16px;
    width: auto;
    justify-self: flex-start;
    margin-left: 20px;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: end;
  }

  .nav-item a {
    color: $secondary-color;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0px 10px;
    text-decoration: none;
    transition: color 0.5s ease-out;

    &:hover {
      color: $fifth-color;
    }
  }
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: $third-color;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.menu-toggle {
  justify-self: flex-end;
  margin-right: 25px;
  display: none;

  &:hover {
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: $secondary-color;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: $translate-1;
  -ms-transform: $translate-1;
  -o-transform: $translate-1;
  transform: $translate-1;
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: $translate-2;
  -ms-transform: $translate-2;
  -o-transform: $translate-2;
  transform: $translate-2;
}

@include mediaSm {
  @media only screen and (max-width: 720px) {
    .features {
      flex-direction: column;
      padding: 50px;
    }

    .navbar {
      a {
        span {
          display: none;
        }

        i {
          font-size: 1.3em;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: flex-start;
        top: 55px;
        left: 0px;
        opacity: 0.9;
        background-color: $primary-color;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;

        li {
          padding: 15px;
          &:first-child {
            margin-top: 20px;
          }

          a {
            font-size: 1.5rem;
          }
        }
      }
    }

    .menu-toggle,
    .bar {
      display: block;
      cursor: pointer;
    }

    .mobile-nav {
      transform: translate(0%) !important;
    }

    #search-icon {
      display: none;
    }

    .search-input {
      display: none;
    }
  }
}
